<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}"
>
  <body>
    <!-- Nav -->

    <!-- content -->
    <section layout:fragment="content">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h1 class="mt-4 fw-bold">Region</h1>
          <div class="d-flex justify-content-right align-items-center gap-3">
            <h1 class="mt-4 fw-bold">Region</h1>
            <button
              type="button"
              class="btn btn-success"
              data-bs-toggle="modal"
              data-bs-target="#addRegion"
            >
              Add Region
            </button>
          </div>
        </div>

        <table
          class="table display table-stripped table-bordered mt-3 text-center"
          id="table-region"
        >
          <thead class="table-dark">
            <tr>
              <th class="col-2 text-center">No.</th>
              <th class="col-6 text-center">Name</th>
              <th class="col-4 text-center">Action</th>
            </tr>
          </thead>
        </table>

        <!-- Add -->
        <div
          class="modal fade"
          id="addRegion"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="addRegionLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bold" id="addRegionLabel">
                  Add Region
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <label for="name" class="form-label fw-bold">Name</label>
                  <input type="text" class="form-control" id="create_name" />
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  onclick="create()"
                >
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Update -->
        <div
          class="modal fade"
          id="updateRegion"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="updateRegionLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bold" id="updateRegionLabel">
                  Update Region
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <label for="name" class="form-label fw-bold">Name</label>
                  <input type="text" class="form-control" id="update_name" />
                  <input type="hidden" class="form-control" id="update_id" />
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  onclick="update()"
                >
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Detail -->
        <div
          class="modal fade"
          id="detailRegion"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="detailRegionLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bold" id="detailRegionLabel">
                  Detail Region
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <label for="name" class="form-label fw-bold">Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="detail_name"
                    disabled
                  />
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <div layout:fragment="script">
      <script th:src="@{/js/Region.js}"></script>
    </div>
  </body>
</html>
