<section class="sidebar" th:fragment="sidebar">
  <!-- Sidebar Menu -->
  <ul class="sidebar-menu" data-widget="tree">
    <!-- <li class="header"></li> -->
    <li class="nav-item">
      <a th:href="@{/region}" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>
          Region
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
    </li>
    <li class="nav-item">
      <a th:href="@{/country}" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>Country</p>
      </a>
    </li>
    <li class="nav-item">
      <a th:href="@{/role}" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>Role</p>
      </a>
    </li>
    <li class="nav-item">
      <a th:href="@{/user}" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>User</p>
      </a>
    </li>
    <li class="nav-item">
      <a th:href="@{/employee}" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>Employee</p>
      </a>
    </li>
  </ul>
  <!-- /.sidebar-menu -->
</section>
