<!DOCTYPE html>
<html
  lang="en"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}"
>
  <title>Country</title>

  <body>
    <!-- Nav -->

    <!-- Content -->
    <section layout:fragment="content">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h1 class="mt-4 fw-bold">Country</h1>
          <button
            type="button"
            class="btn btn-success"
            data-bs-toggle="modal"
            data-bs-target="#addCountry"
          >
            Add Country
          </button>
        </div>
        <table
          class="table display table-stripped table-bordered mt-3 text-center"
          id="table-country"
        >
          <thead class="table-dark">
            <tr>
              <th class="col-1">No.</th>
              <th class="col-2">Country Code</th>
              <th class="col-4">Name</th>
              <th class="col-2">Region</th>
              <th class="col-4">Action</th>
            </tr>
          </thead>
        </table>

        <!-- Add -->
        <div
          class="modal fade"
          id="addCountry"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="addCountryLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bold" id="addCountryLabel">
                  Add Country
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <label for="code" class="form-label">Country Code</label>
                  <input type="text" class="form-control" id="create_code" />
                </div>
                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" class="form-control" id="create_name" />
                </div>
                <div class="mb-3">
                  <label for="region" class="form-label">Region</label>
                  <select
                    class="form-control form-control-sm select_region"
                    aria-label="form-select-sm example"
                  >
                    <option selected value="">Choose Region</option>
                  </select>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  onclick="create()"
                >
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Update -->
        <div
          class="modal fade"
          id="editTheCountry"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="updateCountryLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bold" id="updateCountryLabel">
                  Update Country
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <label for="code" class="form-label">Country Code</label>
                  <input type="text" class="form-control" id="update_code" />
                  <input type="hidden" class="form-control" id="update_id" />
                </div>
                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" class="form-control" id="update_name" />
                </div>
                <div class="mb-3">
                  <label for="region" class="form-label">Region</label>
                  <select
                    class="form-control form-control-sm select_region"
                    aria-label="form-select-sm example"
                    id="select_region"
                  ></select>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  onclick="update()"
                >
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Detail -->
        <div
          class="modal fade"
          id="detailCountry"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="detailCountryLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5 fw-bold" id="detailCountryLabel">
                  Detail Country
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="mb-3">
                  <label for="code" class="form-label fw-bold">Code</label>
                  <input
                    type="text"
                    class="form-control"
                    id="detail_code"
                    disabled
                  />
                </div>
                <div class="mb-3">
                  <label for="name" class="form-label fw-bold">Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="detail_name"
                    disabled
                  />
                </div>
                <div class="mb-3">
                  <label for="region" class="form-label fw-bold">Region</label>
                  <input
                    type="text"
                    class="form-control"
                    id="detail_region_name"
                    disabled
                  />
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <div layout:fragment="script">
      <script th:src="@{/js/Country.js}"></script>
    </div>
  </body>
</html>
