<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main}">

<head>
  <title>Country</title>
</head>

<body>

  <section layout:fragment="content">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="mt-4 fw-bold">Country</h1>
        <a th:href="@{/country/create}" class="btn btn-success">Add Country</a>
      </div>

      <table class="table table-stripped table-bordered mt-3 text-center">
        <thead class="table-dark">
          <tr>
            <th class="col-1">No</th>
            <th class="col-2">Code</th>
            <th class="col-3">Name</th>
            <th class="col-2">Region</th>
            <th class="col-4">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="country, key : ${countries}">
            <td th:text="${key.count}">no</td>
            <td th:text="${country.code}">no</td>
            <td th:text="${country.name}">name</td>
            <td th:text="${country.region.name}">country</td>
            <td class="d-flex justify-content-center align-items-center gap-3">
              <a th:href="@{country/{id} (id = ${country.id})}" class="btn btn-primary px-4">Detail</a>
              <a th:href="@{country/update/{id} (id = ${country.id})}" class="btn btn-warning px-4">Edit</a>
              <form th:action="@{/country/{id} (id = ${country.id})}" th:method="DELETE">
                <button type="submit" class="btn btn-danger px-4"
                  onclick="return confirm('Are u sure want to be delete this data!!!')">
                  delete
                </button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>


</body>

</html>